<head>
    <title>Grover's Implementation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="primary-background">
    <div class="container" style="margin-top: 3%">
        <div class="title-container">
            <label class="title-text">Grover's Implementation - Credits</label>
        </div>
        <hr class="content-border" />
        <div class="content-container">
            <div style="display: flex; flex-direction: column; font-size: 17px; align-items: center">
                <img style="width: 100px; padding-bottom: 10px" src="{{ url_for('static', filename='00000011609.jpg') }}" />
                <span>Anthony, S.Kom.</span>
                <span>Informatics</span>
                <span>Universitas Multimedia Nusantara</span>
                <br />
                <span style="font-weight: bold">Advisor</span>
                <span>Arya Wicaksana, S.Kom., M.Eng.Sc.</span>
                <br />
                <span style="font-weight: bold">Thanks to</span>
                <span>PyQuil</span>
                <span>Rigetti Computing</span>
                <span>Quantum Computing Playground</span>
            </div>
            <div class="button-container" style="padding: 20px;">
                <a href="/" class="button-content">
                    <div class="button-middle">
                        Back
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
<div class="footer">
    <label class="footer-text">© 2019 Anthony. All rights reserved</label>
</div>
