
<html class="primary-background">
<head>
    <title>Grover's Implementation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="title-container">
            <label class="title-text">Grover's Implementation</label>
        </div>
        <hr class="content-border" />
        <div class="content-container">
            <div class="button-container">
                <a href="start" class="button-content">
                    <div class="button-middle">
                        Start
                    </div>
                </a>
            </div>
            <div class="button-container" style="padding: 20px;">
                <a href="credits" class="button-content">
                    <div class="button-middle">
                        Credits
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
<div class="footer">
    <label class="footer-text">© 2019 Anthony. All rights reserved</label>
</div>
</html>

